{% extends 'home/base.html' %}
{% block title %} {% endblock %}


{% block body %}
    <div class="container">
        <h1>Deal Form</h1>
        <form action="{% url 'contract:create_deal_pdf' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="investor_name">Investor Name:</label>
                <input type="text" id="investor_name" name="investor_name" value="{{ investor_name }}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="company_name">Company Name:</label>
                <input type="text" id="company_name" name="company_name" class="form-control">
            </div>
            <div class="form-group">
                <label for="investment_percentage">Investment Percentage:</label>
                <input type="number" id="investment_percentage" name="investment_percentage" class="form-control">
            </div>
            <div class="form-group">
                <label for="investment_amount">Investment Amount:</label>
                <input type="number" id="investment_amount" name="investment_amount" class="form-control">
            </div>
            <div class="form-group">
                <label for="agreement_date">Date of Agreement:</label>
                <input type="date" id="agreement_date" name="agreement_date" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Create PDF</button>
        </form>
    </div>
{% endblock %}
