<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deal Form</title>
</head>
<body>
    <form action="{% url 'contract:create_deal_pdf' %}" method="post">
        {% csrf_token %}
        <label for="investor_name">Investor Name:</label>
        <input type="text" id="investor_name" name="investor_name"><br><br>

        <label for="company_name">Company Name:</label>
        <input type="text" id="company_name" name="company_name"><br><br>
        <label for="investment_percentage">Investment Percentage:</label>
        <input type="text" id="investment_percentage" name="investment_percentage"><br><br>
        <label for="investment_amount">investment amount:</label>
        <input type="text" id="investment_amount" name="investment_amount"><br><br>

        <label for="agreement_date">Date of Agreement:</label>
        <input type="date" id="agreement_date" name="agreement_date"><br><br>

        <!-- أضف حقولًا إضافية حسب الحاجة -->

        <input type="submit" value="Create PDF">
    </form>
</body>
</html>
