{% extends 'home/base.html' %}

{% block title %}
<title> Investment requests </title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row text-start">
        <h1>Investment requests</h1>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Funding Round</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Percentage</th>
                    <th scope="col"><div class="dropdown">
                        <a class="dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Status
                        </a>
                      
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'fund:investment_requests_view' %}?filter=Pending">Pending</a></li>
                          <li><a class="dropdown-item" href="{% url 'fund:investment_requests_view' %}?filter=Approved">Approved</a></li>
                          <li><a class="dropdown-item" href="{% url 'fund:investment_requests_view' %}?filter=Disapproved">Disapproved</a></li>
                          <li><a class="dropdown-item" href="{% url 'fund:investment_requests_view' %}?filter=Canceled">Canceled</a></li>

                        </ul>
                      </div></th>
                    <th scope="col">Negotiation</th>
                    <th scope="col">Cancel offer</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider"></tbody>
                {% for investment_request in investment_requests %}
                
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{investment_request.funding_round.startup.startup_name}}</td>
                    <td>{{investment_request.amount}} r.s</td>
                    <td>{{investment_request.percentage}}%</td>
                    <td>{{investment_request.status}}</td>
                    <td><a href="{% url 'fund:negotiate_view' investment_request.id  %}" class="btn btn-warning">Negotiate</a></td>
                    <td><a href="{% url 'fund:cancel_investment_offer_view' investment_request.id  %}" class="btn btn-danger">Cancel</a></td>


                  </tr>
                  {% endfor %}

                </tbody>
              </table>
        </div>

    </div>

</div>

{% endblock %}