{% extends 'home/base.html' %}

{% load static %}

{% block title %}<title>Investors</title>{% endblock %}

{% block body %}

<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            {% for investor in investors %}
            <div class="col-xl-8 mb-4 mb-4 wow animate__animated" data-wow-offset="150">
                <div class="card shadow-lg bg-light">
                    <div class="card-body pb-0">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <div class="text-center border-end">
                                    <img src="{{ investor.investorprofile.inverstor_avatar.url }}" class="img-fluid avatar-xxl rounded" alt="">
                                    <h4 class="text-primary font-size-20 mt-3 mb-2">{{ investor.first_name }} {{ investor.last_name }}</h4>
                                    <h5 class="text-muted font-size-13 mb-0">{{ investor.investorprofile.specialization }}</h5>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-9">
                                <div class="ms-3">
                                    <div>
                                        <h4 class="card-title mb-2">Biography</h4>
                                        <p class="mb-0 text-muted">{{ investor.investorprofile.inverstor_bio }}</p>
                                    </div>
                                    <div class="row my-4">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="mb-2">
                                                    <i class="bi bi-envelope me-2"></i>
                                                    <a href="mailto:{{investor.email}}" class="text-muted">{{investor.email}}</a>
                                                </div>
                                                <div>
                                                    <i class="bi bi-phone me-2"></i>
                                                    <a href="tel:{{investor.investorprofile.inverstor_phone_number}}" class="text-muted">{{investor.investorprofile.inverstor_phone_number}}</a>
                                                </div>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                    <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link px-4" href="{{ investor.investorprofile.inverstor_LinkedIn }}" target="__blank">
                                                <i class="bi bi-linkedin"></i> LinkedIn
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link px-4" href="{{ investor.investorprofile.inverstor_x_link }}" target="__blank">
                                                <i class="bi bi-twitter-x"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="btn btn-outline-info" href="{% url 'user:profile_view' investor.id %}">Profile</a>
                                        </li>
                                    </ul><!-- end ul -->
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
