{% extends 'home/base.html' %}

{% load static %}

{% block title %} <title>Logup</title>{% endblock %}



{% block body %}




<section  class="vh-100" >
  <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <h2 class="text-center" >Log Up</h2>
          <div class="col-md-6">
              {% if massage %}
              <div class="alert alert-danger" role="alert">
                  {{ massage }}
              </div>
              {% endif %}
              <form class="form-control"  action="{% url 'user:logup_view' %}" method="POST">
                  {% csrf_token %}

                  <div class="mb-3">
                      <label for="username" class="form-label">User Name</label>
                      <div class="input-group">
                          <span class="input-group-text"><i class="fas fa-user fa-lg fa-fw"></i></span>
                          <input type="text" class="form-control" id="username" required name="username">

                      </div>
                  </div>

                  <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <div class="input-group">
                          <span class="input-group-text"><i class="fas fa-envelope fa-lg fa-fw"></i></span>
                          <input type="email" class="form-control" id="email" required name="email">

                      </div>
                  </div>

                  <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <div class="input-group">
                          <span class="input-group-text"><i class="fas fa-lock fa-lg fa-fw"></i></span>
                          <input type="password" minlength="8" class="form-control" id="password" required name="password">

                      </div>
                  </div>

                  <div class="mb-3">
                      <label for="dropdown" class="form-label">Choose Your Field</label>
                      <select class="form-select" id="dropdown" name="selected_option" required>
                          <option value="investor">Investor</option>
                          <option value="startup">Startup</option>
                      </select>

                  </div>

                  <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-primary">Create User</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>


{% endblock %}