{% extends 'home/base.html' %}

{% block title %} 
<title>all my funding</title>
{% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Funding Rounds</h1>
            {% for n in fund %}
            <div class="card text-center mt-5">
                <div class="card-header">
                  Funding Round {{n.id}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">Funding stage: {{n.fund_stage}} </h5>
                  <p class="card-text">Amount: {{n.fund_amount}} SAR, Percentage: {{n.fund_percentage}}%</p>
                  <p>{{n.fund_status}}</p>
                  <a href="{% url 'startup:funding_request_view' n.id %}" class="btn btn-primary">View Invesment requests</a>
                </div>
                <div class="card-footer text-body-secondary">
                  {{n.create_at}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}