{% extends 'home/base.html' %}
{% block title %} <title>View</title> {% endblock %}


{% block body %}
<div class="container ms-0">

    <form class="row" action="{% url 'startup:create_startup_view' %}" method="POST" enctype="multipart/form-data">
        
        {% if massage %}
        <div class="alert alert-danger" role="alert">
            {{massage}}
        </div>
        {% endif %}

        {% csrf_token %}
        <div class="d-flex justify-content-between ">
            <h1>brows Startup</h1>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Profile management
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'startup:edit_startup_view' startup.id %}">Edit</a></li>
                    <li><a class="dropdown-item" href="{% url 'startup:add_team_member_view' startup.id %}">Add Team Member</a></li>
                    <li><a class="dropdown-item" href="{% url 'startup:team_view' startup.id %}">View Team Member</a></li>
                    <li><a class="dropdown-item" href="">Fund Round</a></li>
                  </ul>
                </div>
            </div>
        </div>

        <fieldset disabled="disabled">
            <div class="col-md-4 m-0">
                <label class="from-label">Startup Name:</label>
                <input type="text" name="startup_name" class="form-control" value="{{startup.startup_name}}">
            </div>
            
            <div class="col-md-4">
                <label class="from-label">Startup Founder:</label>
                <input type="text" name="startup_founder_name" class="form-control" value="{{startup.startup_founder_name}}">
            </div>
            <div class="col-md-4">
                <label class="from-label">Startup Sector:</label>
                <select name="startup_sector" class="form-select">
                    <option value="{{startup.startup_sector}}" selected>{{startup.startup_sector}}</option>
                </select>
            </div>

            <div class="col-md-4">
                <label class="from-label">Startup Number:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">+966</span>
                    <input type="number" class="form-control" placeholder="Number" name="startup_number" value="{{startup.startup_number}}">
                </div>
            </div>

            <div class="col-md-4">
                <label class="from-label">Startup Target Market:</label>
                <input type="text" name="startup_target_market" class="form-control" value="{{startup.startup_target_market}}">
            </div>

            <div class="col-md-4">
                <label class="from-label">Startup Avatar:</label>
                <input type="file" name="startup_avatar" class="form-control">
            </div>

            <div class="col-md-6">
                <label class="from-label">Startup Websit:</label>
                <input type="text" name="startup_websits" class="form-control" value="{{startup.startup_websits}}">
            </div>
            <div class="col-md-6">
                <label class="from-label">Startup Email:</label>
                <input type="email" name="startup_email" class="form-control" value="{{startup.startup_email}}">
            </div>
            <div class="col-md-12">
                <label class="from-label">Startup Description:</label>
                <textarea name="startup_description" class="form-control">
                    {{startup.startup_description}}
                </textarea>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}